.contacts {
  background-color: $color-alice-blue;
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 59px 0 65px;
  }
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 71px;

  @include vp-1023 {
    padding: 0 21px;
  }

  @include vp-767 {
    padding: 0;
    flex-direction: column;
    margin-left: -5px;
  }
}

// стилизация блока с картой
.ymap-container {
  flex: 0 0 auto;
  margin-right: 100px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/map-desktop.jpg") $color-alice-blue no-repeat;

  @supports (background-image: url("../img/map-desktop.webp")) {
    background-image: url("../img/map-desktop.webp");
  }

  background-color: $color-alice-blue;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/map-desktop@2x.jpg");

    @supports (background-image: url("../img/map-desktop@2x.webp")) {
      background-image: url("../img/map-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    width: 324px;
    height: 335px;
    margin-right: 30px;
    background-image: url("../img/map-tablet.jpg");

    @supports (background-image: url("../img/map-tablet.webp")) {
      background-image: url("../img/map-tablet.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/map-tablet@2x.jpg");

      @supports (background-image: url("../img/map-tablet@2x.webp")) {
        background-image: url("../img/map-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    order: 2;
    width: 100%;
    height: 316px;
    background-image: url("../img/map-mobile.jpg");

    @supports (background-image: url("../img/map-mobile.webp")) {
      background-image: url("../img/map-mobile.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/map-mobile@2x.jpg");

      @supports (background-image: url("../img/map-mobile@2x.webp")) {
        background-image: url("../img/map-mobile@2x.webp");
      }
    }
  }
}

.map {
  width: 560px;
  height: 306px;

  @include vp-1023 {
    width: 324px;
    height: 316px;
  }

  @include vp-767 {
    order: 2;
    width: 100%;
    height: 316px;
  }
}

.loader {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000000;
  transition: opacity 0.7s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.loader::after,
.loader::before {
  box-sizing: border-box;
}

.loader.is-active {
  top: 0;
  opacity: 1;
}

.loader-default::after {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  content: "";
  animation: rotation 1s linear infinite;
  border: solid 8px #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
}

@keyframes rotation {
  from {

    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes blink {
  from {

    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.contacts-information {
  padding-top: 76px;

  @include vp-1023 {
    padding-top: 65px;
  }

  @include vp-767 {
    order: 1;
    margin-bottom: 16px;
    padding: 0 5px;
  }
}

.contacts-information p {
  margin: 0;
  padding: 0;
  font-family: $ff-main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-tangaroa;
  margin-bottom: 32px;

  @include vp-1023 {
    margin-bottom: 27px;
  }
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts-item {
  margin-bottom: 21px;
}

.contacts-item__link {
  font-family: $ff-main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-tangaroa;
  display: flex;
}

.contacts-item__image {
  width: 22px;
  height: 18px;
  margin-right: 5px;
}

.contacts-item__icon {
  @include vp-1023 {
    margin-top: 3px;
  }
}
