.cruise {
  padding: 87px 87px 121px;

  @include vp-1023 {
    padding: 87px 36px 100px;
  }

  @include vp-767 {
    padding: 56px 0 65px;
  }
}

.cruise h3 {
  font-family: $ff-main-font;
  color: $color-tangaroa;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 47px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 52px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.cruise-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0 8px;
  }
}

.cruise-item {
  padding: 29px 25px 34px;
  background-color: $color-tangaroa;
  height: 0;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $ff-main-font;
  color: $color-alice-blue;
  padding-bottom: 137.55%;

  @include vp-1023 {
    padding: 29px 35px 34px;
    padding-bottom: 115.55%;
  }

  @include vp-767 {
    min-width: 270px;
    padding: 29px 26px 34px;
    padding-bottom: 131.35%;
  }
}

.cruise-item-one {
  background-image: url("../img/cards-images/card-1-desktop.jpg");

  @supports (background-image: url("../img/cards-images/card-1-desktop.webp")) {
    background-image: url("../img/cards-images/card-1-desktop.webp");
  }

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/cards-images/card-1-desktop@2x.jpg");

    @supports (background-image: url("../img/cards-images/card-1-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-1-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/cards-images/card-1-tablet.jpg");

    @supports (background-image: url("../img/cards-images/card-1-tablet@2x.webp")) {
      background-image: url("../img/cards-images/card-1-tablet@2x.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-1-tablet@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-1-tablet@2x.webp")) {
        background-image: url("../img/cards-images/card-1-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    background-image: url("../img/cards-images/card-1-desktop.jpg");

    @supports (background-image: url("../img/cards-images/card-1-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-1-desktop@2x.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-1-desktop@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-1-desktop@2x.webp")) {
        background-image: url("../img/cards-images/card-1-desktop@2x.webp");
      }
    }
  }
}

.cruise-item-two {
  background-image: url("../img/cards-images/card-1-desktop.jpg");

  @supports (background-image: url("../img/cards-images/card-1-desktop.webp")) {
    background-image: url("../img/cards-images/card-1-desktop.webp");
  }

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/cards-images/card-1-desktop@2x.jpg");

    @supports (background-image: url("../img/cards-images/card-1-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-1-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/cards-images/card-1-tablet.jpg");

    @supports (background-image: url("../img/cards-images/card-1-tablet@2x.webp")) {
      background-image: url("../img/cards-images/card-1-tablet@2x.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-1-tablet@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-1-tablet@2x.webp")) {
        background-image: url("../img/cards-images/card-1-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    background-image: url("../img/cards-images/card-1-desktop.jpg");

    @supports (background-image: url("../img/cards-images/card-1-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-1-desktop@2x.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-1-desktop@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-1-desktop@2x.webp")) {
        background-image: url("../img/cards-images/card-1-desktop@2x.webp");
      }
    }
  }
}

.cruise-item-three {
  background-image: url("../img/cards-images/card-3-desktop.jpg");

  @supports (background-image: url("../img/cards-images/card-3-desktop.webp")) {
    background-image: url("../img/cards-images/card-3-desktop.webp");
  }

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/cards-images/card-3-desktop@2x.jpg");

    @supports (background-image: url("../img/cards-images/card-3-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-3-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/cards-images/card-3-tablet.jpg");

    @supports (background-image: url("../img/cards-images/card-3-tablet.webp")) {
      background-image: url("../img/cards-images/card-3-tablet.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-3-tablet@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-3-tablet@2x.webp")) {
        background-image: url("../img/cards-images/card-3-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    background-image: url("../img/cards-images/card-3-desktop.jpg");

    @supports (background-image: url("../img/cards-images/card-3-desktop.webp")) {
      background-image: url("../img/cards-images/card-3-desktop.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-3-desktop@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-3-desktop@2x.webp")) {
        background-image: url("../img/cards-images/card-3-desktop@2x.webp");
      }
    }
  }
}

.cruise-item-four {
  background-image: url("../img/cards-images/card-4-desktop.jpg");

  @supports (background-image: url("../img/cards-images/card-4-desktop.webp")) {
    background-image: url("../img/cards-images/card-4-desktop.webp");
  }

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/cards-images/card-4-desktop@2x.jpg");

    @supports (background-image: url("../img/cards-images/card-4-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-4-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/cards-images/card-4-tablet.jpg");

    @supports (background-image: url("../img/cards-images/card-4-tablet.webp")) {
      background-image: url("../img/cards-images/card-4-tablet.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-4-tablet@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-4-tablet@2x.webp")) {
        background-image: url("../img/cards-images/card-4-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    background-image: url("../img/cards-images/card-4-desktop.jpg");

    @supports (background-image: url("../img/cards-images/card-4-desktop.webp")) {
      background-image: url("../img/cards-images/card-4-desktop.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-4-desktop@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-4-desktop@2x.webp")) {
        background-image: url("../img/cards-images/card-4-desktop@2x.webp");
      }
    }
  }
}

.cruise-item-five {
  background-image: url("../img/cards-images/card-5-desktop.jpg");

  @supports (background-image: url("../img/cards-images/card-5-desktop.webp")) {
    background-image: url("../img/cards-images/card-5-desktop.webp");
  }

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/cards-images/card-5-desktop@2x.jpg");

    @supports (background-image: url("../img/cards-images/card-5-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-5-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/cards-images/card-5-tablet.jpg");

    @supports (background-image: url("../img/cards-images/card-5-tablet.webp")) {
      background-image: url("../img/cards-images/card-5-tablet.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-5-tablet@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-5-tablet@2x.webp")) {
        background-image: url("../img/cards-images/card-5-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    background-image: url("../img/cards-images/card-5-desktop.jpg");

    @supports (background-image: url("../img/cards-images/card-5-desktop.webp")) {
      background-image: url("../img/cards-images/card-5-desktop.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-5-desktop@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-5-desktop@2x.webp")) {
        background-image: url("../img/cards-images/card-5-desktop@2x.webp");
      }
    }
  }
}

.cruise-item-six {
  background-image: url("../img/cards-images/card-6-desktop.jpg");

  @supports (background-image: url("../img/cards-images/card-6-desktop.webp")) {
    background-image: url("../img/cards-images/card-6-desktop.webp");
  }

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/cards-images/card-6-desktop@2x.jpg");

    @supports (background-image: url("../img/cards-images/card-6-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-6-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/cards-images/card-6-tablet.jpg");

    @supports (background-image: url("../img/cards-images/card-6-tablet.webp")) {
      background-image: url("../img/cards-images/card-6-tablet.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-6-tablet@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-6-tablet@2x.webp")) {
        background-image: url("../img/cards-images/card-6-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    background-image: url("../img/cards-images/card-6-desktop.jpg");

    @supports (background-image: url("../img/cards-images/card-6-desktop.webp")) {
      background-image: url("../img/cards-images/card-6-desktop.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-6-desktop@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-6-desktop@2x.webp")) {
        background-image: url("../img/cards-images/card-6-desktop@2x.webp");
      }
    }
  }
}

.cruise-item-seven {
  background-image: url("../img/cards-images/card-7-desktop.jpg");

  @supports (background-image: url("../img/cards-images/card-7-desktop.webp")) {
    background-image: url("../img/cards-images/card-7-desktop.webp");
  }

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/cards-images/card-7-desktop@2x.jpg");

    @supports (background-image: url("../img/cards-images/card-7-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-7-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/cards-images/card-7-tablet.jpg");

    @supports (background-image: url("../img/cards-images/card-7-tablet.webp")) {
      background-image: url("../img/cards-images/card-7-tablet.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-7-tablet@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-7-tablet@2x.webp")) {
        background-image: url("../img/cards-images/card-7-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    background-image: url("../img/cards-images/card-7-desktop.jpg");

    @supports (background-image: url("../img/cards-images/card-7-desktop.webp")) {
      background-image: url("../img/cards-images/card-7-desktop.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-7-desktop@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-7-desktop@2x.webp")) {
        background-image: url("../img/cards-images/card-7-desktop@2x.webp");
      }
    }
  }
}

.cruise-item-eight {
  background-image: url("../img/cards-images/card-8-desktop.jpg");

  @supports (background-image: url("../img/cards-images/card-8-desktop.webp")) {
    background-image: url("../img/cards-images/card-8-desktop.webp");
  }

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/cards-images/card-8-desktop@2x.jpg");

    @supports (background-image: url("../img/cards-images/card-8-desktop@2x.webp")) {
      background-image: url("../img/cards-images/card-8-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/cards-images/card-8-tablet.jpg");

    @supports (background-image: url("../img/cards-images/card-8-tablet.webp")) {
      background-image: url("../img/cards-images/card-8-tablet.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-8-tablet@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-8-tablet@2x.webp")) {
        background-image: url("../img/cards-images/card-8-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    background-image: url("../img/cards-images/card-8-desktop.jpg");

    @supports (background-image: url("../img/cards-images/card-8-desktop.webp")) {
      background-image: url("../img/cards-images/card-8-desktop.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/cards-images/card-8-desktop@2x.jpg");

      @supports (background-image: url("../img/cards-images/card-8-desktop@2x.webp")) {
        background-image: url("../img/cards-images/card-8-desktop@2x.webp");
      }
    }
  }
}

.cruise-item:hover .cruise-card {
  display: none;
}

.cruise-item:hover .cruise-decription-wrapper {
  display: block;
}

.cruise-item:hover {
  background-color: $color-tangaroa;
  background-image: unset;
}

.cruise-item h4,
.cruise-item h5,
.cruise-item span {
  font-family: $ff-main-font;
  color: $color-alice-blue;
  margin: 0;
  padding: 0;
}

.cruise-item h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.cruise-card h4 {
  position: absolute;
  bottom: 23px;
  left: 29px;
  right: 10px;

  @include vp-1023 {
    bottom: 27px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 16px;
    left: 26px;
  }
}

.cruise-decription-wrapper h4 {
  margin-bottom: 14px;
}

.cruise-decription-wrapper {
  display: none;
}

.cruise-decription {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 26px;
}

.cruise-decription h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.cruise-decription span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.cruise-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
}
