.logo {
  fill: $color-alice-blue;

  @include vp-767 {
  margin-bottom: 35px;
  fill: $color-tangaroa;
  margin-left: -10px;
  }
}

.header-close-menu-js .logo {
  @include vp-767 {
    fill: $color-alice-blue;
  }
}

.header-open-menu-js .logo {
  @include vp-767 {
    fill: $color-tangaroa;
  }
}

.logo svg {
  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}
