.header-close-menu-js .navigation-list {
  @include vp-767 {
    display: none;
  }
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include vp-1023 {
    margin-top: -5px;
  }

  @include vp-767 {
    margin-top: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

.header-open-menu-js .navigation-list--active {
  @include vp-767 {
    display: block;
  }
}

.navigation-item {
  margin-left: 33px;

  @include vp-1023 {
    margin-left: 24px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-bottom: 26px;
  }
}

.navigation-link {
  font-family: $ff-main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    color: $color-tangaroa;
    font-size: 18px;
    line-height: 22px;
  }
}

.navigation-link:hover {
  border-bottom: 1px solid $color-alice-blue;
}

